<h1>Welocme to SmartTalks</h1>

<ul>
    <% @articles.each do |article| %>
        <li>
            <h3><a href="<%=article_path(article)%>"><%= article.title %></a></h3>
        </li>
    <%end%>
</ul>

