<div class="container my-3">
    <p class="display-6"><i class="bi bi-plus"></i> Create a new Blog</p>
</div>
<div class="new container">
    <div class="left my-2">
        <%= render 'form', article: @article %>
    </div>
    <div class="right">
        <img class="img-rounded" src="https://source.unsplash.com/900x900/?diary,pen">
    </div>
</div>