// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {

    .show-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content:space-around;
    }
    
}
.new {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .left {
        position: relative;
        width: 50%;
        height: 70vh;

        .text {
            height: 50vh;
        }
    }
    .right {
        width: 50%;
        height: 100vh;
        img{
            padding: 20px 10px;
            height: auto;
            width: 100%;
        }
    }
}